@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Montserrat:wght@300;500;900&family=Poppins:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background-color: #332c29;
}

::-webkit-scrollbar {
    display: none;
}

[data-bs-theme=light] {
    --bs-heading-color: #000;
    --bs-body-bg: #DEE2E6;
    --bg-hero: url(campo2.jpg);
    --filter-g: grayscale(0%);
}

[data-bs-theme=dark] {
    --bs-heading-color: #fff;
    --bs-body-bg: #161618;
    --title-shadow: #000 0.2rem 0.2rem 0.8rem;
    --bg-hero: url(prueba.jpg);
    --filter-g: grayscale(100%);
}

/* ------------------------------------------------- Offcanvas ------------------------------------------------- */
.transicion * {
    transition: all 0.7s;
}

#logo {
    width: 45px;
    height: 45px;
    margin: 1%;
}

.btn-menu {
    margin: 10px;
    background-color: #332c29;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    color: #fff;
    border: none;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 4px 2px 21px 0px rgba(0, 0, 0, 0.55);
}

.btn-menu:hover,
.btn-menu:active {
    background-color: #9c3e13;
    color: #fff;
}

.offcanvas {
    --bs-offcanvas-width: 380px;
    box-shadow: 4px 2px 21px 0px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 4px 2px 21px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 4px 2px 21px 0px rgba(0, 0, 0, 0.55);
}


.offcanvas-title {
    font-family: 'Poppins';
    font-size: 2rem;
}

.offcanvas-subtitle {
    font-family: 'Poppins';
    font-size: 0.9rem;
}

.offcanvas-brand__text {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.list-group a {
    color: #5c6b73;
    font-family: 'Poppins';
    font-weight: 500;
    padding-top: 0.5rem;
}

.icon {
    padding: 0.5rem 1rem;
}

.icon-mode {
    width: 240px;
}

.align-item {
    width: 4rem;
}

.list-group-item {
    display: flex;
    align-items: center;
    padding: 2%;
    margin: 4% 3%;
    height: 50px;
    border-radius: 0.3rem;
    border: none;
}

.items-lista:hover {
    background-color: #9c3e13;
    color: #fff;
    transition: all ease 0.5s;
}

.theme {
    color: #5c6b73;
    font-weight: 500;
    margin-top: 18rem;
    padding-top: 0.5rem;
}

/* -------------------------------------------------Carousel------------------------------------------------- */
.carousel-inner {
    height: 100vh;
    background-color: #162d45;
}

.img-cover {
    min-height: 1000px;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.img-prueba {
    background-image: url(campo.jpg);
    filter: var(--filter-g);
}

.img-prueba__2 {
    background: var(--bg-hero);
    filter: var(--filter-g);
}

.img-prueba__3 {
    background-image: url(campo3.jpg);
    filter: var(--filter-g);
}

.mode {
    transition: all 5s;
}

#id-toggle .tran-act {
    transition: transform 5s ease-in-out;
}



/* -------------------------------------------------Hero ------------------------------------------------- */
.hero {
    background: url(campo.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;

}

.hero-title {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.hero-container {
    height: 400px;
}

.h-title {
    font-family: 'Poppins';
    font-size: 7rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
    text-shadow: var(--title-shadow);
}

.hs-title {
    margin-bottom: 3rem;
}

#h-title_s {
    color: #9c3e13;

}

.h-button {
    text-decoration: none;
    color: var(--bs-heading-color);
    border-radius: 2rem;
    background-color: #9c3e13;
    margin-top: 3rem;
    padding: 0.7rem 4rem;
}

.wave {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 250px;
    fill: #fff;
}

/* ------------------------------------------------- About Us ------------------------------------------------- */
.about-container {
    height: 966px;
    background-color: #332c29;
    position: relative;
}

.about-items {
    right: 1%;
    left: 1%;
    position: absolute;
    top: 9.5%;
    margin-inline: 2%;
}

.f-wrap {
    width: 100%;
    height: 320px;
    background-color: #b14d1e;
    position: relative;
}

.f-item,
.s-item {
    color: #fff;
    border: 10px solid transparent;
    background-color: transparent;
}

.s-item__body {
    margin-top: 30%;
    display: flex;
    flex-direction: column-reverse;
}

.card_img {
    height: 400px;
    width: 100%;
}

.item-card_title {
    margin: 2% 0;
    font-size: 1.7rem;
}

.item-card_text {
    margin: 2% 0;
}

.item-card_text {
    margin-top: 1%;
}

@media (min-width: 768px) {
    .s-item__body {
        margin-top: 0;
        flex-direction: column-reverse;
    }
}